@charset "UTF-8";

ul {
	text-align:center;
}
ul li {
	display:inline;
	vertical-align:middle;
}
ul li a {
	display:-moz-inline-stack;	/*FF2*/
	display:inline-block;
	vertical-align:top;
	padding:5px;
	margin-right:3px;
	width:35px !important;
	color:#000;
	font:bold 12px;
	border:1px solid #8080c0;
	border-radius:5px;
	text-align:center;
	text-decoration:none !important;

}
ul li a.now {
	color:#fff;
	background-color:#f40;
	border:1px solid #f40;
}
/* ul li a:hover, ul li a:focus {
	color:#fff;
	border:1px solid #ffffff;
	background-color:#ffffff;
} */