@charset "UTF-8";
/* --------------------------------------------------- 기본 layout css */

body {
	
/* 	/* margin: 0; */
	font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #858796;
	text-align: left;
	background-color: #fff; */
}
/* 컨테이너 - 전체 감싸기 */
.flex-container {
	display: flex;
	flex-direction: column;
	/* flex-direction: row(기본) | row-reverse | column | column-reverse */
	justify-content: center;
	/* justify-content: flex-start(기본) | center | flex-end | space-between | space-around | space-evenly */
	flex-basis: 100%;
	height: 100%;
}
/* 컨테이너 - 헤더 */
.flex-container-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 100%;
	height: 100%;
}
/* 컨테이너 - 바디 */
.flex-container-body {    
    display: flex;
	flex-direction: column;
    align-items: center;
	min-width: 90%;
	height: 100%;
	margin: 51px 10px 100px;
    
}
/* 컨테이너 - 푸터 */
.flex-container-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 100%;
	height: 100%;
}


/* 헤더 감싸기 */
.header {
	display: flex;
	height: 65px;
	color: white;
	background-color: #00c73c;
	border-bottom: 1px solid gray;
}

/* 탭 감싸기  */
.tab {
	height: 70px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	background-color: #abc8f7;
}

/* 본문 영역 */
.flex-item {
	display: flex;
	flex-direction: column;
    align-items: center;
	width: 1200px;
}


/* 본문 - 상단 감싸기 */
.top-content {
	display: flex;
	flex-direction: column;
	width: 80%;
}

/* 본문 - 상단 영역 (전체 크기 지정) */
.topmenu {
	display: flex !important;
	flex-direction: row !important;
	justify-content: center !important;
}

/* 푸터 영역 */
.footer {
	border-top: 1px solid gray;
	display: flex;
	background-color: gray;
	color: white;
	flex-basis: 100%;
}

/* --------------------------------------------------- 기본 layout css */

/* 본문 - 중간 감싸기 */
.middle-content {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.middlemenu {
	flex-basis: 100%;
	flex-shrink: 0;
	align-content: center;
	align-items: center;
}

/* 본문 - 하단 감싸기  */
.bottom-content-between {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.bottom-content-center
{
	display: flex;
	justify-content: center;
	width: 80%;
}

.bottommenu {
	flex-basis: 100%;
	flex-shrink: 0;
}

/* maxHit / besstHit 게시판 */
.maxHit {
	flex-basis: 40%;
	margin: 30px;
}

.bestHit {
	flex-basis: 40%;
	margin: 30px;
}

.maxBestSubject {
	text-align: center;
	font-weight: bold;
	font-size: 19pt;
	font-family: 맑은고딕;
	margin: 0 0 15px 0;
}
.maxBestContent {
	/* background-color: #e7c3f7; */
	
}

.block
{
	display: block;
}

.inline {
	display: inline;
}

.divTableRow {
  padding: 0.75rem !important; 
  vertical-align: center !important;
  /* border-top: 1px solid #dee2e6; */
}

.floatmargin {
	float: right;
	margin: 0 15px 0 0;
}

.margin {
	margin: 0 0 0 15px;
}

/* 질문팁 게시판 */

.styleQTboardName
{
	display: block;
	margin: 15px 0 100px 0;	
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 130px;
	text-align: center;
}

.colQT5
{
	width: 5%;
}
.colQT10
{
	width: 10%;
}
.colQT40
{
	width: 40%;
}

.divTableQT {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
	margin: 50px 0 0 0;
}

.divTableRowgroupQT {
	display: table-row-group;
}

.divTableColgroupQT {
	display: table-column-group;
}

.divTableHeadingQT {
	background-color: #FFFFFF;
	display: table-header-group;
	font-weight: bold;
}

.divTableFootQT {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}


/* tr */
.divTableRowQT {
	display: table-row;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	height: 65px;
}
/* th */
.divTableHeadQT {
	display: table-column;
	margin: 0 auto;
	padding: 10px;
	width: 90px;
	background-color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.divTableHeadQTCol5 {
		
	display: table-cell;
	margin: 0 auto;
	padding: 10px;
	width: 5%;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	
}
.divTableHeadQTCol10 {
	display: table-cell;
	margin: 0 auto;
	padding: 10px;
	width: 10%;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.divTableHeadQTCol40 {
	display: table-cell;
	margin: 0 auto;
	padding: 10px;
	width: 40%;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

/* td */
.divTableCellQT {
	display: table-cell;
	/* border: 1px solid #999999; */
	margin: 0 auto;
	padding: 10px;
	width: 90px ;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}
.divTableCellQTCol5 {
	display: table-cell;
	/* border: 1px solid #999999; */
	margin: 0 auto;
	padding: 10px;
	width: 5%;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}

.divTableCellQTCol10 {
	display: table-cell;
	/* border: 1px solid #999999; */
	margin: 0 auto;
	padding: 10px;
	width: 10%;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}

.divTableCellQTCol40 {
	display: table-cell;
	/* border: 1px solid #999999; */
	margin: 0 auto;
	padding: 10px;
	width: 40%;
	font-size: 14px;
	text-align: left;
	vertical-align: middle;
}

.divTableRowQT .divTableHeadQT {
	display: table-cell;
	/* border-right: 1px solid #999999; */
	background-color: #fff;
	color: #333;
	font-weight: bold;
	padding: 3px 10px;
	width: 20%;
}
/* 새글 및 이미지 첨부 */
.badge-purple {
    color: #fff;
    background-color: #a735cc !important;
    margin: 0 0 0 2px;
}

/* 페이징 */
.pageMargin
{
	margin: 15px 15px 20px 15px;
}

.pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: .25rem
}

.justify-content-center {
	justify-content: center !important;
}

.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6
}

.page-link {
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #563d7c;
	background-color: #fff;
	border: 1px solid #dee2e6
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem
}

.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #563d7c;
	border-color: #563d7c
}

.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6
}

.pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: .3rem;
	border-bottom-left-radius: .3rem
}

.pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem
}

.pagination-sm .page-link {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5
}

.pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: .2rem;
	border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: .2rem;
	border-bottom-right-radius: .2rem
}


/* 글쓰기 버튼 */
 .right {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
